---
export interface Props {
	post: any;
}

const {post}=Astro.props;
const dateParse=Date.parse(post.created_at);
const newDate=new Date(dateParse);
const day=newDate.getDate();
const weekday=newDate.getDay();
const month=newDate.getMonth();
const year=newDate.getFullYear();

const weekdayNames=['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];

const monthNames=['January','February','March','April','May','June','July','August','September','October','November','December'];
---

<article class="post-preview">
	<header>
		<a href={"/posts/" + post.slug}>
			<h1 class="title">{post.title}</h1>
		</a>
		<span>Created:</span>
		<span class="publish-date">{weekdayNames[weekday]}, {monthNames[month]}
			{day}, {year}
		</span>
	</header>
	<p class="excerpt">{post.excerpt}</p>
	<a href={post.url} class="read-more">Read more</a>
</article>

<style>
	.content :global(main > * + *) {
		margin-top: 1rem;
	}

	.post-preview {
		padding-bottom: 2rem;
		margin-bottom: 2rem;
		margin-top: 1rem;
		border-bottom: 4px solid var(--theme-divider);
	}

	header {
		align-items: flex-start;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-bottom: 1rem;
		text-align: left;
	}

	.title,
	.author,
	.publish-date {
		margin: 0;
	}

	.publish-date,
	.author {
		font-size: 1.25rem;
		color: var(--theme-text-lighter);
	}

	.title {
		font-size: 2.25rem;
		font-weight: 700;
		color: var(--theme-text);
	}

	.read-more {
		display: inline-block;
		margin-top: 0.5rem;
	}
</style>